<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bassam.khedmaapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyFullscreenTheme">
        <activity
            android:name=".WelcomePageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.activitys.UserLoginPageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.activitys.NewUserRegistrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.activitys.VerificationCodeActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />


        <receiver android:name=".user.brodcast.SmsReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".user.activitys.UserHomePageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".user.activitys.UserOrderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".user.activitys.SupplierProfileInUserActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name=".SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".user.activitys.SupServicesPageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme" />
        <activity android:name=".user.activitys.RateOldOrderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"  >


        </activity>
    </application>

</manifest>